{% load static custom_filters tz %}

{% now "F j, Y g:i A" as current_datetime %}
<html>

<head>
    <meta charset="utf-8">
    <title>Itinerary</title>
    <link href="{% static 'css/base.css' %}" media="print" rel="stylesheet">

    <meta name="description" content="Itinerary">
</head>

<body>
    <h1>Itinerary</h1>

    <aside>
        <address id="from">
            from : {{ from_destination.text }}
            To : {{ to_destination.text }}
        </address>
    </aside>

    <dl id="informations">
        <span>{{ user.username }}</span>
        <span>{{ current_datetime }}</span>
    </dl>

    <div class="main">
        <h2>{{ name }}</h2>
        <h3>{{ distance|convert_to_km }}, {{ time|seconds_to_hours }}</h3>

        <img src="{{ image }}" alt="itinerary image">

        <div class="page-break"></div>
        <h2>Steps: </h2>
        <table>
            <tbody>
                {% for step in steps %}
                <tr>
                    <td class="td-icon">
                        <img src="{% static step|step_icon_path %}" alt="{{ step.type|step_icon_text }}">
                    </td>
                    <td class="td-text">{{ step.text }}</td>
                    <td class="td-distance">{{ step.distance|convert_to_km }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>