@font-face {
    font-family: Pacifico;
    src: url(pacifico.ttf);
}

@font-face {
    font-family: Source Sans Pro;
    font-weight: 400;
    src: url(sourcesanspro-regular.otf);
}

@font-face {
    font-family: Source Sans Pro;
    font-weight: 700;
    src: url(sourcesanspro-bold.otf);
}

@page {
    size: A4;
    font-family: Pacifico;
    margin: 3cm;

    @bottom-center {
        color: #a9a;
        content: 'Mickael Lebas; Alexis Py; Théo Posty';
        font-size: 9pt;
    }
}

.page-break {
    page-break-before: always;
}

html {
    color: #14213d;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.6;
}

body {
    margin: 0;
}

h1 {
    color: #1388e9;
    font-family: Pacifico;
    font-size: 22pt;
    margin: 0;
}

aside {
    display: flex;
    margin: 1em 0 2em;
}

aside address {
    font-style: normal;
    white-space: pre-line;
}

aside address#from {
    flex: 1;
}

aside address#to {
    text-align: right;
}

dl {
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
}

#informations {
    display: flex;
    flex-direction: column;
}

dt,
dd {
    display: inline;
    margin: 0;
}


dt::before {
    content: '';
    display: block;
}

dt::after {
    content: ':';
}

.main > img {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.td-icon > img {
    width: 18pt;
}

.td-text {
    width: 90%;
    padding: 0 .5cm;
}

.td-distance {
    width: max-content;
    white-space: nowrap;
    vertical-align: top;
}